/* general */
img {max-width:100%;height:auto;}
html body .ui-page .ui-content form button {
  color:#fff;text-transform:uppercase;font-size:x-large;background:#7eb11a;border:none;border-radius:10px;padding:9px;
}
.text-center {text-align:center;}
hr { border: 0; border-bottom: 1px dashed #ccc; background: #999; margin:30px 0 20px;}

/* jQuery Mobile */
.ui-dialog-contain {border:1px solid #2C3E50;border-radius:0px;-webkit-border-radius:0px;}
.ui-autocomplete {height:200px;overflow:auto;background:#fff;border:1px solid #ddd;}
html body .ui-page .ui-content .ui-li-divider {background:#aaa;}
html body .ui-page .ui-content .ui-listview li a {background:#f2f2f2;color:#2c3e50;}
html body .ui-page .ui-content .ui-listview li a:hover {background:#ddd;}
html body .ui-page .ui-content .ui-listview li {border:1px solid #aaa;border-top:none;font-size:medium;}
html body .ui-page .ui-content .ui-listview li a {border:none;}
html body .ui-page .ui-content .ui-li-count {border:none;}
#services .ui-listview h2 {
  overflow:visible;
  text-overflow:unset;
  white-space:pre-wrap;
}
html .ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html body .ui-btn.ui-btn-b, html .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html body .ui-btn.ui-btn-b:visited {
  background: #7eb11a none repeat scroll 0 0;
  border-color: #7eb11a;
  color: #fff;
}
.ui-listview a {white-space: pre-wrap!important;text-transform:capitalize;}

/* custom */
#menu .ui-grid-a.last {margin:20px;}
.topPanel {background:#1f2c38;color:#6f8ead;text-align:center;font-weight:bold;padding:20px 20px 25px;}
.topPanel span {font-size:large;display:block;margin-bottom:10px;}
.menu-button {background:#7eb11a;display:block;text-decoration:none;padding:25px 0;margin:20px 20px 10px;color:#fff;border-radius:10px;}
#rate:hover,
.menu-button:hover {background:#5A7C16;border-color:#5A7C16;}
.menu-button i {color:#fff;}
html body .secondary-button {background:#ea8f00;color:#fff!important;display:block;margin:10px;border-radius:10px;text-decoration:none;font-size:large;padding:10px;}
.secondary-button:hover {background:#AA6703;}
.secondary-button i {color:#efc419;margin-right:10px;}
.inputContainer {text-transform:capitalize;}
#contact .ui-btn:active,
#contact .ui-btn:hover {background:#4E6D8D!important;}
#drug ul li {margin-bottom:10px;}
#drug #candidates {text-transform:capitalize;}
#drug #candidates li {margin-bottom:0;}
#concierge .list ul.ui-listview {margin-top:0;}
#singleRating h3 {margin-top:0;padding-top:0;}
#theCategory {height:80vh;overflow:auto;-webkit-overflow-scrolling: touch;}

/* tabs */
html body .ui-page .tabs,
#tabs {margin:0;padding:0;}
html body .ui-page .tabs.ui-navbar li,
#tabs .ui-navbar li {border:none;}
html body .ui-page .tabs.ui-navbar a,
#tabs .ui-navbar a {border:none;background:#aaa;color:#505050;font-size:medium;}
html body .ui-page .tabs a.ui-btn-active,
#tabs a.ui-btn-active {background:#fff;}
html body .ui-page .tabs.ui-navbar,
#tabs .ui-navbar {background:#aaa;}